.card-container {
    width: 250px;
    
    border: 3px solid #000000;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
  }
  
  .Nome {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    background-color: #4169E1;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 3px;
    font-family: monospace;
  }
  
  .Nome {
    display: inline;
  }
  
  .card-container:hover {
    background-color: #C0C0C0;
  }